# Build output
bin/
obj/

# WiX (installer) output
bin/installer/
bin/WinRealtimeWhisper.Setup/

# Local test artifacts
*.log
shot*.png
help_*.txt
devices.txt
msi_run.txt

# User/IDE files
.vs/
*.user
*.suo
*.DotSettings.user
